@font-face {
    font-family: TTDrugs-Thin;
    src: url(../fonts/TTDrugs-Thin.otf); 
   }

body{
	background-color: #EEEEEE;
}

table{
	border-color:#212121;
	border-style:solid;
	border-width:1px;
	border-spacing:0px;
	width:1200px;
}

